{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Tu Tienda Online</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src="{% static 'images/tienda.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Tu Tienda
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url "nosotros"%}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "contacto" %}">Contacto</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'buscar' %}">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Buscar"
            aria-label="Search"
            name="buscar"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Buscar
          </button>
        </form>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user' %}">
              <img
                src="{% static 'images/user.png' %}"
                width="20"
                height="20"
                class="mr-1"
                alt=""
              />
              Hola, {{ request.user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "carrito" %}">
              <img
                src="{% static 'images/carrito.png' %}"
                width="20"
                height="20"
                class="mr-1"
                alt=""
              />
              <span class=" badge bg-info">
                    {{total_items_carrito}}
              </span>
              Carrito
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'cerrar' %}">Cerrar Sesión</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ingresar' %}">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
          </li>
        </ul>
        {%endif%}
      </div>
    </nav>

    <!-- Contenido de la página -->
    <div class="container-fluid mt-4 pt-4 w-100 pr-0 pl-0 pb-4 mb-4">
            {% block contenido%}
            {% endblock %}
      <!-- Tu contenido va aquí -->
    </div>
    <footer class="bg-dark text-light py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Tu Tienda Online</h5>
            <p>&copy; 2024 Todos los derechos reservados</p>
            <p>Contáctanos: info@tutienda.com</p>
          </div>
          <div class="col-md-4">
            <h5>Síguenos</h5>
            <a href="#" class="text-light" title="Facebook">
              <img
              src="{% static 'images/facebook.png' %}"
              width="20"
              height="20"
              class="mr-1"
              alt=""
            />
            <i class="fab fa-facebook-f fa-lg mx-2"></i>
            </a>
            <a href="#" class="text-light" title="Whatsapp">
              <img
              src="{% static 'images/whatsapp.png' %}"
              width="20"
              height="20"
              class="mr-1"
              alt=""
            />
              <i class="fab fa-twitter fa-lg mx-2"></i>
            </a>
            <a href="#" class="text-light" title="Instagram">
              <img
              src="{% static 'images/instagram.png' %}"
              width="20"
              height="20"
              class="mr-1"
              alt=""
            />
              <i class="fab fa-instagram fa-lg mx-2"></i>
            </a>
          </div>
          <div class="col-md-4">
            <h5>Enlaces rápidos</h5>
            <ul class="list-unstyled">
              <li><a href="#">Productos</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Términos y condiciones</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts de Bootstrap (jQuery y Popper.js son requeridos) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
