{% extends "base.html" %} {% block contenido%}
<div class="container-fluid">
  <div class="row">
    <!-- Columna de Categorías/Filtrado (Izquierda) -->
    <div class="col-md-3">
      <h2>Categorías</h2>
      <!-- Agrega aquí tu menú de categorías o opciones de filtrado -->
      <ul>
        <li><a href="#">Categoría 1</a></li>
        <li><a href="#">Categoría 2</a></li>
        <!-- Agrega más categorías según sea necesario -->
      </ul>
    </div>

    <!-- Columna de Productos (Derecha) -->
    <div class="col-md-9">
      <h2>Productos</h2>
      <!-- Aquí se mostrarán las tarjetas de productos -->
      <div class="row">
        {% for producto in productos%}
        <!-- Tarjeta de Producto 1 -->
        <div class="col-md-4 mb-4">
          <div
            class="card h-100 border-0 shadow rounded"
            style="background-color: #ffffff"
          >
            <a href="{% url 'producto' producto_id=producto.id %}">
              <img
                src="{{ producto.imagen.url }}"
                alt="{{ producto.nombre }}"
                class="card-img-top"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">€{{producto.precio}}</p>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="1" />
                <button
                  type="submit"
                  class="btn btn-success btn-block btn-sm mb-1"
                >
                  Agregar al Carrito
                </button>
              </form>
              <a
                class="btn btn-primary btn-block btn-sm"
                href="{% url 'compra' %}"
                >Comprar</a
              >
            </div>
          </div>
        </div>
        {%endfor%}
        <!-- Tarjeta de Producto 2 -->
        <div class="col-md-4 mb-4">
          <!-- Repite la estructura de la tarjeta para más productos -->
        </div>

        <!-- Agrega más tarjetas de productos según sea necesario -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
